* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ,
    Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #e6e6e6;
}
header {
  padding: 30px 4% 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
}
h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: #4b4b4b;
}

nav {
  margin: 0 0 0 auto;
}
ul {
  list-style: none;
  margin: 0;
  display: flex;
}
li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

.index_emply{
  width: 100%;
  height:70px;
}

#main-contents{

  top:80px;
  width: 100%;
  display: flex;


}
.index_main{
  width: 80%;
  height: 1000px;
  background-color: blanchedalmond;
  


}
.index_side{
  width: 20%;
  height: 1000px;
  background-color: bisque;

}
.index_posts{
  margin: 30px;
}
.context_in_posts{
  margin: 30px;
}
.contents{
  margin: 30px;
}

.thema_of_contents{
  font-size: 18px;
  color:black;
}
.date_of_contents{
  font-size: 14px;
  color:gray;
}